<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>com.pack.garage.Accounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
  <display-name>Garage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.pack.garage.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleVehicles</display-name>
    <servlet-name>HandleVehicles</servlet-name>
    <servlet-class>com.pack.garage.HandleVehicles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleVehicles</servlet-name>
    <url-pattern>/HandleVehicles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List</display-name>
    <servlet-name>List</servlet-name>
    <servlet-class>com.pack.garage.List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleServlet</display-name>
    <servlet-name>VehicleServlet</servlet-name>
    <servlet-class>com.pack.garage.VehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/VehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVehicle</display-name>
    <servlet-name>EditVehicle</servlet-name>
    <servlet-class>com.pack.garage.EditVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVehicle</servlet-name>
    <url-pattern>/EditVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImages</display-name>
    <servlet-name>AddImages</servlet-name>
    <servlet-class>com.pack.garage.AddImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImages</servlet-name>
    <url-pattern>/AddImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recover</display-name>
    <servlet-name>Recover</servlet-name>
    <servlet-class>com.pack.garage.Recover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recover</servlet-name>
    <url-pattern>/Recover</url-pattern>
  </servlet-mapping>
</web-app>